<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- example of Property binding -->
      <!-- This will appear as the user types into the search input  -->
      <h3><label><span *ngIf="searchQuery" [innerHTML]="'You are searching for ' + searchQuery"></span></label></h3>
    </div>
    <div class="panel-body">
      <form (submit)="searchPeople()">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <!--    Two-way data binding    -->
              <input name="searchQuery" type="text" class="form-control" placeholder="search for names" autocomplete="off" [(ngModel)]="searchQuery"
                (keyup)=autocompleteSearchPeople() (keyup.enter)="autocompleteSearchPeople()">
              <span class="input-group-btn">
              <button class="btn btn-default search-button" type="submit">Search</button>
            </span>

            </div>
            <!-- end of search input -->
            <div class="suggestions" *ngIf="autocompletePeople.length > 0">
              <ul class="searchlist">
                <!--Usage of my custom pipe as a helper filter-->
                <li class="searchlist-item" *ngFor="let person of autocompletePeople">
                  <a (click)="select(person.name); searchPeople();">
                  <img *ngIf="person.profile_path" class="searchlist-img" src="https://image.tmdb.org/t/p/w185/{{person.profile_path}}">
                  <img *ngIf="!person.profile_path" class="searchlist-img" src='src\app\shared\img\noposterperson.jpg'>
                  <div class="searchlist-info">
                    <!--property bindings-->
                    <p class="searchlist-name">{{person.name}}</p> <br>
                    <!--Example usage of angular built-in pipes-->
                    <p class="text-center"><strong style="color: goldenrod;">&#9733; </strong>{{person.popularity | number:'1.1-2'}}</p>
                  </div>
                  </a>
                </li>
              </ul>
            </div>
            <!--  end of dropdown realtime suggestions -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--end of searchformular-->

</div>
<!--end of container-->

<!--nice example of a Sub-Component-->
<br>
<br>

<app-person-result></app-person-result>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Top Rated Actors </h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="popularPeople">
      <!--indexing for maximizing the request-->
      <div *ngFor="let person of popularPeople, let i = index">
        <div *ngIf="i <= 22" class="col-md-2 text-center">
          <a href="#" routerLink="/person/{{person.id}}">
            <img *ngIf="person.profile_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{person.profile_path}}">
            <img *ngIf="!person.profile_path" class="img-thumbnail" src='src\app\shared\img\noposterperson.jpg'>

          </a>
          <p class="text-center">{{person.name}}</p>
          <!--Example usage of angular built-in pipes-->
          <p class="text-center"><strong style="color: goldenrod;">&#9733; </strong>{{person.popularity | number:'1.1-2'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>