@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Orbitron|Pacifico|Russo+One');


.panel-heading > h3,h2,h1 {
  color: lightgreen;
  font-family: 'Pacifico', cursive;
}

p, ul, li {
  
  font-family: 'Gloria Hallelujah', cursive; 
  
}

li strong {
    color: goldenrod;
}

h4 {
  color: goldenrod;
  font-family: 'Pacifico', cursive;
}
