<style>
  @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
</style>

<div role="main" class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <!--some sidebar might come here later-->
    </div>
    <!--end of columspan 2-->
    <div class="col-sm-8">
      <div class="jumbotron">

        <h1>The Big Fat Cinema App <img class="hidden-xs img-rounded movie_img" src='src\app\shared\img\preview_COLOURBOX6324830.jpg'
            width="150" height="150"> </h1>
        <p>Assignment III. for web dev lecture</p>


      </div>
      <!--end of jumbotron-->
    </div>
    <!--end of columspan 8-->


     <div class="col-sm-2">
      <!--some other sidebar might come here later-->
    </div>
    <!--end of columspan 2-->
  </div>
  <!--end of row-->
</div>
<!--end of fluid container-->



<div class="container site-footer">
  <ul class="site-footer-link float right">
    <li><a href="https://cli.angular.io/">Powered by ANGULAR-CLI </a><img src='src\app\shared\img\cli.png' width="60"></li>
  </ul>
</div>
<!--end of footer-->