

<div role="main" class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <!--some sidebar might come here later-->
    </div>
    <!--end of columspan 2-->
    <div class="col-sm-8">
      <div class="jumbotron">

        <h1>The Big Fat Cinema App <img class="hidden-xs img-rounded movie_img" src='src\app\shared\img\preview_COLOURBOX6324830.jpg'
            width="150" height="150"> </h1>
        <p>Assignment III. for web dev lecture</p>

        <nav class="nav navbar-nav">
          <a routerLink="/movies-main" routerLinkActive="active" class="btn btn-danger">Movies</a>
          <a routerLink="/person-main" routerLinkActive="active" class="btn btn-success">Filmstars</a>         
        </nav> <!-- end of navbar-->

      </div>
      <!--end of jumbotron-->
    </div>
    <!--end of columspan 8-->


     <div class="col-sm-2">
      <!--some other sidebar might come here later-->
    </div>
    <!--end of columspan 2-->
  </div>
  <!--end of row-->
</div>
<!--end of fluid container-->


<div class='container'>

  <router-outlet></router-outlet>

</div> <!--end of routing-->



<div class="container site-footer">
  <ul class="site-footer-link float right">
    <li><h4 class="center">Powered by <a href="https://cli.angular.io/">ANGULAR-CLI <img src='src\app\shared\img\angular-cli.jpg' width="100"></a></h4></li>
    <li><h4 class="center"> created with ♥ by <a href="https://github.com/ystvan">ystvan </a><img src='src\app\shared\img\Octocat.png' width="60"> credits goes to <a href="https://github.com/tomasmax">tomasmax</a></h4></li>
  </ul>
</div>
<!--end of footer-->