 @import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Orbitron|Pacifico|Russo+One');

h1  {
    font-family: 'Fascinate Inline', cursive;
    color: goldenrod;
}

p {
    font-family: 'Pacifico', cursive;
    
}

a {
    font-family: 'Orbitron';
    
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}


body {
    font-family: 'Pacifico', cursive;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    padding-top: 70px; 
    min-width: 1020px;
    word-wrap: break-word;
}

.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #586069;
    border-top: 1px solid #eaecef;
    
    
}

li a {
    color: goldenrod;
}

.float-right {
    float: right !important;
}